# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle cilkscreen-plugin'
      'command': 'cilkscreen-plugin:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Cilkscreen'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'cilkscreen-plugin:toggle'
        },
        {
          'label': 'Manually Run'
          'command': 'cilkscreen-plugin:manual-run'
        },
        {
          'label': 'Cancel Manual Run'
          'command': 'cilkscreen-plugin:manual-cancel'
        }
      ]
    ]
  }
]
