# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle cilkide'
      'command': 'cilkide:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Cilkide'
      'submenu': [
        {
          'label': 'Sync Project (Local -> Remote)'
          'command': 'cilkide:sync-local-remote'
        },
        {
          'label': 'Sync Project (Remote -> Local)',
          'command': 'cilkide:sync-remote-local'
        },
        {
          'label': 'Debug',
          'command': 'cilkide:debug'
        }
      ]
    ]
  }
]
