// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-mixins";
@import "ui-variables";
@import "octicon-utf-codes";
@import "octicon-mixins";

@modal-width: 800px;

atom-text-editor::shadow .gutter[gutter-name=cilkscreen-lint] {
  width: 20px;
  text-align: center;
}

atom-text-editor::shadow .gutter[gutter-name=cilkscreen-lint] .decoration {
  text-align: center;
  width: 100%;

  .alert {
    display: inline-block;
    padding-left: .5em;    // aligns with the padding for line-number
    cursor: pointer;
  }

  .alert:after {
    .octicon-font();
    content: @alert;
    color: @text-color-error;
  }
}

.cilkscreen-detail-modal {
  width: 810px !important; // don't ignore me, senpai
}

.cilkscreen-detail-view {
  width: @modal-width;
  font-size: 12pt;

  .header {
    width: @modal-width;
    height: 24px;
    overflow: hidden;
    font-size: 16pt;
  }

  .header-title {
    width: 780px;
    float: left;
    overflow: hidden;
  }

  .header-close {
    width: 20px;
    overflow:hidden;
    cursor: pointer;
  }

  .highlighted {
    color: @text-color-highlight;
  }
}
